.info-block{
    background-color: #141A20;
    display: flex;
    justify-content: space-around;
}
.info1{
    margin-top: 50px;
    margin-bottom: 25px;
}
.info3{
    margin-top: 50px;
    margin-bottom: 25px;
}
.info2{
    margin-top: 50px;
    margin-bottom: 25px;
}
.info4{
    margin-top: 50px;
    margin-bottom: 25px;
}